

h1 {
font-size: 40px; 
   
}

p {
font-size: 15px;
font-family:Verdana, Geneva, Tahoma, sans-serif;

}

body {
    background-color:beige;
}

a {
    font-size: 20px;
    color: rgb(6, 29, 21);

}